
.color .svg-inline--fa {
    font-size: 1.5rem;
   margin-right: 8px;
}
.caption-list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.title{
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
}