ody {
    font-family: 'Passion One', cursive;
}

p {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 900px;
}

.navbar-top a {
    border-right: 1px solid #777777!important;
    font-size: 0.8rem!important;
}

.navbar-top i {
    color: #66ff66 !important;
}

.navbar-bottom a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
}
.carousel-caption h1{
    font-size: 4rem;
    line-height:0.7
}
.caption-left {
    text-align: left;
    top: 30%;
    bottom: auto;
}
.caption-right{
        position: absolute;
        top: 10%;
        right: 16px;
        
}
.btn-light{
    border-radius:1000px; 
}
.img-bgr{
    height: 300px;
}
.card span{
    float: left;
    width: 0.7em;
    font-size: 4rem;
    line-height: 10%;
}
.embed-responsive{
    width: 80%;
}
.time{
padding-right: 30px;
padding-left: 5px;
padding-top: 5px;
text-align: center;
background-color: white;
}
.btn-outline-secondary{
    border-color: #d9d9d9;
    border-right: 0!important;
}
.list-logo{
    margin-top: 70px;
}
.list-logo img{
  margin-right: 83px;
}
.image-fashion{
    width: 100%;
    height: 300px;
}
.caption-left-bot{
    position: absolute;
    text-align: left;
    top: 10%;
    bottom: auto;
}
