body {
    font-family: 'Lato', sans-serif;
}

p,small {
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Passion One', cursive;
}
.btn{
    font-family: 'Passion One', cursive;
}
li{
    font-size: 1rem;
}


.caption-center {
    top: 30%!important;
    bottom: auto!important;
}

.card-img-top {
    width: 30%;
    max-height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar-top a {
    border-right: 1px solid #777777!important;
    font-size: 0.8rem!important;
}

.navbar-top i {
    color: #66ff66 !important;
}

.navbar-bottom a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
}

.card-img-top {
    width: 150px;
    min-height: 200px;
}

.card-footer {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.card-footer h6 {
    font-weight: bold;
    font-size: 0.9rem;
}

.card-footer p {
    font-weight: bold;
    font-size: 0.7rem;
}
.list-logo img{
    margin-right: 83px;
  }

.nav-center a {
    border-right: 1px solid #e6e6e6;
    font-weight: bold!important;
    text-transform: uppercase!important;
    font-size: 1.2rem;
    color: black;
}

.bg-color {
    background-color: #f0f2f4;
}

.nav-milk a {
    color: gray;
    text-transform: uppercase!important;
}
.nav-milk a:active {
    color: white;
    background-color: #66ff66;
}
.nav-milk a.active {
    color: white;
    background-color: #66ff66;
}
.nav-milk hr {
    border: 0.5px solid #f0f2f4;
    margin-top: 0;
}
.border-right{
    border-right: 0.5px solid #f0f2f4;
}
.card-body p{
    margin:0 0 0 0 ;
}
.card-cover img{
    max-width: 150px;
    max-height: 100px;
}
.card-face img{
    width: 80px!important;
    height: 80px!important;
}

.image-top{
    height: 242px;
}
.fashion{
    background-image: url('../image/bg-fashion.jpg');
    background-repeat: none;
    background-size:100% 100%;
    max-width: 100%;
    height: 50vh;  
}
.fashion-card{
    margin-top: 20vh;
}
.fashion-card h2{
line-height: 0.7rem;
}

 .list-group-item{
    background-color: transparent;
}
.media img{
    width: 50px;
    height: 50px;
}
.btn-primary{
    border-radius: 1000em;
}
.btn-warning{
    border-radius: 1000em;
}
.carousel-caption h1{
  
    font-size: 4rem;
}
.img-slide{
    width: 50%;
    height: 150px;
}
.cover{
    height: 200px;
}


@media (min-width: 768px) {

    /* show 3 items */
    #carouselExample .carousel-inner .active,
    #carouselExample .carousel-inner .active+.carousel-item,
    #carouselExample .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }

    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }

    #carouselExample .carousel-inner .carousel-item-next,
    #carouselExample .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    #carouselExample .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
   #carouselExample .active.carousel-item-left+.carousel-item-next.carousel-item-left,
   #carouselExample  .carousel-item-next.carousel-item-left+.carousel-item,
    #carouselExample .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    #carouselExample .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    #carouselExample .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    #carouselExample .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    #carouselExample .carousel-item-prev.carousel-item-right+.carousel-item,
   #carouselExample  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
   #carouselExample  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}