body {
    font-family: 'Lato', sans-serif;
}

p,small {
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Passion One', cursive;
}
.btn{
    font-family: 'Passion One', cursive;
}
li{
    font-size: 1rem;
}


.caption-center {
    top: 30%!important;
    bottom: auto!important;
}

.card-img-top {
    width: 30%;
    max-height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar-top a {
    font-size: 0.8rem!important;
}



.navbar-bottom a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
}

.card-img-top {
    width: 150px;
    min-height: 200px;
}

.card-footer {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.card-footer h6 {
    font-weight: bold;
    font-size: 0.9rem;
}

.card-footer p {
    font-weight: bold;
    font-size: 0.7rem;
}
.list-logo img{
    margin-right: 83px;
  }

.nav-center a {
    border-right: 1px solid #e6e6e6;
    font-weight: bold!important;
    text-transform: uppercase!important;
    font-size: 1.2rem;
    color: black;
}

.bg-color {
    background-color: #f0f2f4;
}
