.img-list{
    width: 160px!important;
    height: 230px!important;
}
body {
    font-family: 'Lato', sans-serif;
}

p,small {
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Passion One', cursive;
}
li{
    font-size: 1rem;
}
.container {
    max-width: 900px;
}

.caption-center {
    top: 30%!important;
    bottom: auto!important;
}

.card-img-top {
    width: 30%;
    max-height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar-top a {
    border-right: 1px solid #777777!important;
    font-size: 0.8rem!important;
}

.navbar-top i {
    color: #66ff66 !important;
}

.navbar-bottom a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
}
.sale{
    width: 50px;
    height: 50px;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}