.caption-left-bot{
    position: absolute;
    text-align: left;
    top: 30%;
    bottom: auto;
}
.menu a{
    color: white;
    font-family: 'Lato', sans-serif;
    border-right: 0.5px solid gray;
    padding-top: 0 ;
    padding-bottom: 0;
    font-size: 0.8rem;
}
.btn-outline-secondary{
    border-radius: 1000em;
}
.btn-light{
    border-radius: 1000em;
}